<h1>Home</h1>

{{#each stories}}
<h3>{{this.headline}}</h3>
<p>{{this.summary}}</p>
<a href="{{this.link}}">Link here</a>
<div class="story-image" style="background: {{this.image}};'");></div>
{{/each}}